<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="alumno.css"/>
    <link rel="stylesheet" href="bootstrap.min.css"/>
    <title>Document</title>
</head>
<body>
   
    <nav>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
              <div class="container-fluid">
                <a class="navbar-brand" href="../index.html"><img src="R.png" style="height: 1em;"></a>
                     <ul class="navbar-nav me-auto mt-2 mt-lg-0">
                        <li class="nav-item active">
                            <a class="nav-link" href="Cursos/Curso.html">Cursos <span class="visually-hidden">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="alumnos.html">Alumnos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="Apuntate/apuntate.html">Formulario</a>
                        </li>
                    </ul>
                 
                </div>
          </div>
        </nav>
   

 <table>
          <tr>
              <th>Nombre</th>
              <th>Apellido</th>
          </tr>

          <tr th:each="Alumnos : ${Alumnos}">
              <td th:text="${prod.Nombre}">Onions</td>
              <td th:text="${prod.name}">Onions</td>
              <td th:text="${prod.name}">Onions</td>
          </tr>

      <div id="resp-table">

      <table class="tabla-alumnos">
        <thead>    
            <tr>
                <th>Nombre</th>
                <th>Apellido1</th>
                <th>Apellido2</th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            <tr th:each="Alumnos : ${Alumnos}">
                <td th:text="${prod.Nombre}">Onions</td>
                <td th:text="${prod.name}">Onions</td>
                <td th:text="${prod.name}">Onions</td>
                <td>
                    <div class="dropdown" style="float:right;">
                        <button class="dropbtn"> <img src="icons8-sort-down-26.png"></button>
                        <div class="dropdown-content">
                        <a href="#">Modificar</a>
                        <a href="#">Eliminar</a>
                        <a href="#">Mostrar notas</a>
                        </div>
                      </div>

                 </td>
            </tr>

            <tr>
                <td scope="row">adsfadsfadsf</td>
                <td>adsfadsf</td>
                <td>adsfadsfadsf</td>
                <td>
                    <div class="dropdown" style="float:right;">
                        <button class="dropbtn"> <img src="icons8-sort-down-26.png" ></button>
                        <div class="dropdown-content">
                        <a href="#">Modificar</a>
                        <a href="#">Eliminar</a>
                        </div>
                      </div>

                 </td>
            </tr>

            <tr>
                  <td scope="row">adsfadsfadsf</td>
                  <td>adsfadsf</td>
                  <td>adsfadsfadsf</td>
                  <td>
                    <div class="dropdown" style="float:right;">
                        <button class="dropbtn"> <img src="icons8-sort-down-26.png" ></button>
                        <div class="dropdown-content">
                        <a href="#">Modificar</a>
                        <a href="#">Eliminar</a>
                        <a href="#">Mostrar notas</a>

                        </div>
                      </div>

                 </td>
              </tr>

                <tr>
                  <td scope="row">adsfadsfadsf</td>
                  <td>adsfadsf</td>
                  <td>adsfadsfadsf</td>
                  <td>
                    <div class="dropdown" style="float:right;">
                        <button class="dropbtn"> <img src="icons8-sort-down-26.png" ></button>
                        <div class="dropdown-content">
                        <a href="#">Modificar</a>
                        <a href="#">Eliminar</a>
                        <a href="#">Mostrar notas</a>

                        </div>
                      </div>

                 </td>
              </tr>

              <tr>
                <td scope="row">adsfadsfadsf</td>
                <td>adsfadsf</td>
                <td>adsfadsfadsf</td>
                <td>
                    <div class="dropdown" style="float:right;">
                        <button class="dropbtn"> <img src="icons8-sort-down-26.png" ></button>
                        <div class="dropdown-content">
                        <a href="#">Modificar</a>
                        <a href="#">Eliminar</a>
                        <a href="#">Mostrar notas</a>

                        </div>
                      </div>

                 </td>
            </tr>
        </tbody>
      </table>
    </div>
    <script src="js/bootstrap.bundle.min.js"></script>
</body>
</html>