body{
  background: linear-gradient(90deg, #1CB5E0 0%, #000851 100%);
  font-family: Arial, Helvetica, sans-serif;
}


.tabla-alumnos{
    border-collapse: separate;
    border-spacing: 0 15px;
    margin-left:5% ;
    margin-right: 5%;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 90%;
    border-radius: 10px;
    
}

.tabla-alumnos thead{
    background-color: #70b5a7;
    color: #ffffff;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.tabla-alumnos thead tr{
  height: 5em;
  font-weight: bolder;
  border-radius: 5px;
}




.tabla-alumnos th,
.tabla-alumnos td {
    padding: 12px 15px;
    text-align: center;
}

.tabla-alumnos tbody {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    background-color: white;
    border-radius: 1em;
  }

.tabla-alumnos tbody tr {
  border-radius: 5px;
}




.tabla-alumnos tbody tr:hover {
  color: #898989;
}


.tabla-alumnos tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.tabla-alumnos tbody tr.active-row {
    font-weight: bold;
    color: #009879;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.tabla-alumnos tr td a{
    text-decoration: none;
    color: black;
    width: 30px;
}


.dropbtn {

    cursor: pointer;
    border: none;
    background-color: inherit;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 10em;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
    border-radius: 10px;
  }
  
  .dropdown-content a {
      text-align: left;
    color: black;
    padding: 3px 5px;
    min-width: 10em;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
      background-color: #f1f1f1;
      border-radius: 10px;

    }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    transform: rotate(180deg);
}

    .dropdown button img{
        height: 0.8em;
    }

    