<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="alumno.css"/>
    <link rel="stylesheet" href="bootstrap.min.css"/>
    <title>Document</title>
</head>
<body>
   <header>
       
           <nav>
               <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                     <div class="container-fluid">
                       <a class="navbar-brand" href="../index.html"><img src="R.png" style="height: 1em;"></a>
                            <ul class="navbar-nav me-auto mt-2 mt-lg-0">
                               <li class="nav-item active">
                                   <a class="nav-link" href="Cursos/Curso.html">Cursos <span class="visually-hidden">(current)</span></a>
                               </li>
                               <li class="nav-item">
                                   <a class="nav-link" href="alumnos.html">Alumnos</a>
                               </li>
                               <li class="nav-item">
                                   <a class="nav-link" href="Apuntate/apuntate.html">Formulario</a>
                               </li>
                           </ul>
                        
                       </div>
                 </div>
               </nav>

   </header>

   <div class="Nuestros">
       <h1>Nuestros alumnos</h1>
       <h4 style="margin-top:2em ;">"Aquí tienes un listado de nuestros alumnos y su información, para poder realizar más acciones sólo tendrás que poner el ratón sobre
           el triángulo invertido que se encuentra en la parte derecha de las tablas, esperamos verte en esta lista pronto!"
       </h4>

   </div>

</table>

      <table class="tabla-alumnos">
        <thead>    
            <tr>
                <th style="width: 32%;">Nombre</th>
                <th style="width: 32%;">Apellido1</th>
                <th style="width: 32%;">Apellido1</th>
                <th style="width: 3%;"></th>

            </tr>

        </thead>
        <tbody>

            <tr th:each="Alumnos : ${Alumnos}">
                <td th:text="${prod.Nombre}">Onions</td>
                <td th:text="${prod.name}">Onions</td>
                <td th:text="${prod.name}">Onions</td>
                <td>
                    <div class="dropdown" style="float:right;">
                        <button class="dropbtn"> <img src="icons8-sort-down-26.png"></button>
                        <div class="dropdown-content">
                            <a href="Apuntate/apuntate.html">Modificar</a>
                            <a href="#">Eliminar</a>
                        <a href="Mostrar NOtas/mostrar.html">Mostrar notas</a>
                        </div>
                      </div>

                 </td>
            </tr>

            <tr>
                <td scope="row">adsfadsfadsf</td>
                <td >adsfadsf</td>
                <td>adsfadsfadsf</td>
                <td>
                    <div class="dropdown" style="float:right;">
                        <button class="dropbtn"> <img src="icons8-sort-down-26.png" ></button>
                        <div class="dropdown-content">
                            <a href="Apuntate/apuntate.html">Modificar</a>
                            <a href="#">Eliminar</a>
                        <a href="Mostrar NOtas/mostrar.html">Mostrar notas</a>

                        </div>
                      </div>

                 </td>
            </tr>

            <tr>
                  <td scope="row">adsfadsfadsf</td>
                  <td>adsfadsf</td>
                  <td>adsfadsfadsf</td>
                  <td>
                    <div class="dropdown" style="float:right;">
                        <button class="dropbtn"> <img src="icons8-sort-down-26.png" ></button>
                        <div class="dropdown-content">
                        <a href="Apuntate/apuntate.html">Modificar</a>
                        <a href="#">Eliminar</a>
                        <a href="Mostrar NOtas/mostrar.html">Mostrar notas</a>


                        </div>
                      </div>

                 </td>
              </tr>

                <tr>
                  <td scope="row">adsfadsfadsf</td>
                  <td>adsfadsf</td>
                  <td>adsfadsfadsf</td>
                  <td>
                    <div class="dropdown" style="float:right;">
                        <button class="dropbtn"> <img src="icons8-sort-down-26.png" ></button>
                        <div class="dropdown-content">
                            <a href="Apuntate/apuntate.html">Modificar</a>
                            <a href="#">Eliminar</a>
                        <a href="Mostrar NOtas/mostrar.html">Mostrar notas</a>

                        </div>
                      </div>

                 </td>
              </tr>

              <tr>
                <td scope="row">adsfadsfadsf</td>
                <td>adsfadsf</td>
                <td>adsfadsfadsf</td>
                <td>
                    <div class="dropdown" style="float:right;">
                        <button class="dropbtn"> <img src="icons8-sort-down-26.png" ></button>
                        <div class="dropdown-content">
                        <a href="Apuntate/apuntate.html">Modificar</a>
                        <a href="#">Eliminar</a>
                        <a href="Mostrar NOtas/mostrar.html">Mostrar notas</a>

                        </div>
                      </div>

                 </td>
            </tr>
        </tbody>
      </table>
    </div>

    <div class="noEncontrar">
        <div style="width: 80%;">
            <h1 style="font-weight:bolder; text-align: left;">¿Estás Stalkeando a alguien en concreto?</h1>
            <br>
            <h5 style="color:  #009879 ; width: 80%; text-align: left; margin-bottom: 1em;">"No te procupes, sabemos que estás buscando a tu crush. Para encontrarlo tienes una función de búsqueda a tu derecha"
            </h5>
            <form action="">
                <input type="text" id="buscar" placeholder="introduce un nombre">
                <a name="" id="" class="btn btn-primary" href="#" role="button" style="background-color:#009879; border: none; text-align: center;">Encontrar!</a>
            </form>
        </div> 

            <img src="imagenes/habitación.png" style="height: 70%; float: right; ">

       

    </div>

   




    <script src="js/bootstrap.bundle.min.js"></script>
</body>
</html>