<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicial</title>
    <link rel="stylesheet" href="mystyle.css"/>
    <link rel="stylesheet" href="bootstrap.min.css"/>
</head>
<body>
    <nav>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
              <div class="container-fluid">
                <a class="navbar-brand" href="../index.html"><img src="R.png" style="height: 1em;"></a>
                     <ul class="navbar-nav me-auto mt-2 mt-lg-0">
                        <li class="nav-item active">
                            <a class="nav-link" href="Cursos/Curso.html">Cursos <span class="visually-hidden">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="alumnos.html">Alumnos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="Apuntate/apuntate.html">Formulario</a>
                        </li>
                    </ul>
                 
                </div>
          </div>
        </nav>
   

    <div class="image-button">
        <img src="front.jpg" >
        <a name="Apuntate" id="" class="btn btn-primary" href="Apuntate/apuntate.html" role="button" style="margin-top: 10%; margin-left: -30%; background-color: #BBD6B6;color: black;">Apúntate</a>
    </div>

    <div>
        <img src="div2.png" width="100%">
    </div>
    <div class="image-button">
        <img src="footer.jpg" style="max-width: 100%;">
        <a name="" id="" class="btn btn-primary" href="Apuntate/apuntate.html" role="button" style="margin-top: 10%; margin-left: 30%;background-color: #BBD6B6;color: black;">Apúntate</a>
    </div>
    <script src="js/bootstrap.bundle.min.js"></script>
</body>
</html>