<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicial</title>
    <link rel="stylesheet" href="mystyle.css"/>
    <link rel="stylesheet" href="bootstrap.min.css"/>
</head>
<body>

    <nav
    <nav class="navbar navbar-expand-xl navbar-dark bg-dark">
          <div class="container">
            <a class="navbar-brand" href="#">R</a>
            <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavId">
                <ul class="navbar-nav me-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Cursos <span class="visually-hidden">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="alumnos.html">Alumnos</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Area Profesores</a>
                        <div class="dropdown-menu" aria-labelledby="dropdownId">
                            <a class="dropdown-item" href="#">Action 1</a>
                            <a class="dropdown-item" href="#">Action 2</a>
                        </div>
                    </li>
                </ul>
             
            </div>
      </div>
    </nav>
    
   

    <div class="image-button">
        <img src="front.jpg" style="max-width: 100%;">
        <a name="Apuntate" id="" class="btn btn-primary" href="Apuntate/apuntate.html" role="button" style="margin-top: 10%; margin-left: -30%; background-color: #BBD6B6;color: black;">Apúntate</a>
    </div>

  <div <div class="card-group" style="padding: 3em;">

      <div class="card" style="margin: 5px;">
          <img class="card-img-top" src="holder.js/100x180/" alt="Card image cap">
          <div class="card-body">
              <h4 class="card-title">Title</h4>
              <p class="card-text">Text</p>
          </div>
      </div>

      <div class="card" style="margin: 5px;">
          <img class="card-img-top" src="holder.js/100x180/" alt="Card image cap">
          <div class="card-body">
              <h4 class="card-title">Title</h4>
              <p class="card-text">Text</p>
          </div>
      </div>
      
      <div class="card" style="margin: 5px;">
        <img class="card-img-top" src="holder.js/100x180/" alt="Card image cap">
        <div class="card-body">
            <h4 class="card-title">Title</h4>
            <p class="card-text">Text</p>
        </div>
    </div>
  </div>

    
    </div>



        <nav class="navbar navbar-expand-lg navbar-dark">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item fs-3 fw-bold px-5">
                    <a href="indexServlet" class="nav-link active">Home</a>
                </li>
                <li class="nav-item fs-3 fw-bold px-5">
                    <a href="formulario" class="nav-link ">Formularios</a>
                </li>
                <li class="nav-item fs-3 fw-bold px-5">
                    <a href="listado" class="nav-link ">Listado</a>
                </li>
            </ul>
          </nav>

        <main class="text-center">
                <!--Para poder cambiar la url desde una configuración
                con el resolver de Thymeleaf:
            <img src="img/logos.jpg" th:src="@{/img/logo.png}" th:title="#{logo}" th:alt="#{logo}" />
            
            daría como resultado:
            <img src="/tema8_web/img/logo.png" alt="logos" />
            -->
            <img src="logos.png" alt="logos" />
        </main>
        <footer>
            <h1>
                <span th:text="#{index.welcome}"></span>
                <span th:text="#{index.author}"></span>
            </h1>
        </footer>


    <div class="image-button">
        <img src="footer.jpg" style="max-width: 100%;">
        <a name="" id="" class="btn btn-primary" href="Apuntate/apuntate.html" role="button" style="margin-top: 10%; margin-left: 30%;">Apúntate</a>
    </div>
    <script src="js/bootstrap.bundle.min.js"></script>
</body>
</html>