<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../bootstrap.min.css"/>
    <link rel="stylesheet" href="mostrar.css">
    <title>Ramirez</title>
</head>
<body>
    <nav>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
              <div class="container-fluid">
                <a class="navbar-brand" href="../index.html"><img src="../R.png" style="height: 1em;"></a>
                     <ul class="navbar-nav me-auto mt-2 mt-lg-0">
                        <li class="nav-item active">
                            <a class="nav-link" href="../Cursos/Curso.html">Cursos <span class="visually-hidden">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../alumnos.html">Alumnos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../Apuntate/apuntate.html">Formulario</a>
                        </li>
                    </ul>
                 
                </div>
          </div>
        </nav>


        <div class="card">
            <div style="width: 50%;">
                <h2>Nombre Alumno</h2>
                <h4>Numero de teléfono  </h4>
                <h4>Fecha de nacimiento </h4>
                <h4>Media de notas</h4>

            </div>

            <div style="width: 50%;">
                <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  Asignatura
                  <span class="badge bg-primary badge-pill">10</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Asignatura     
                    <span class="badge bg-primary badge-pill">8</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Asignatura                  
                    <span class="badge bg-primary badge-pill">9</span>

                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Asignatura                  
                    <span class="badge bg-primary badge-pill">14</span>

                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Asignatura                  
                    <span class="badge bg-primary badge-pill">14</span>

                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Asignatura                  
                    <span class="badge bg-primary badge-pill">9</span>

                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Asignatura                  
                    <span class="badge bg-primary badge-pill">9</span>

                </li>
              </ul>
            </div>
          

        </div>

</body>
</html>