<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apúntate</title>
    <link rel="stylesheet" href="../bootstrap.min.css"/>
    <link rel="stylesheet" href="apuntate.css">
</head>
<body>
    
    
    <div class="container" style="padding: 5%; ">
        <div class="mb-3">
          <label for="" class="form-label">Tu Nombre</label>
          <input type="text" class="form-control" name="" id="" aria-describedby="emailHelpId" placeholder="Diego">
        </div>
        
        <div class="mb-3">
            <label for="" class="form-label">Tu apellido</label>
            <input type="text" class="form-control" name="" id="" aria-describedby="emailHelpId" placeholder="Martínez">
          </div>

          <div class="mb-3">
            <label for="" class="form-label">Tu segundo apellido</label>
            <input type="text" class="form-control" name="" id="" aria-describedby="emailHelpId" placeholder="Sánchez">
          </div>

        <div class="mb-3">
            <label for="" class="form-label">Tu correo electrónico</label>
            <input type="email" class="form-control" name="" id="" aria-describedby="emailHelpId" placeholder="tunombre@email.com">
        </div>
        
        <div class="mb-3">
            <label for="" class="form-label">Tu número de teléfono</label>
            <input type="number" class="form-control" name="" id="" aria-describedby="emailHelpId" placeholder="123 456 789">
        </div>
            <button type="submit" class="btn btn-primary">Submit</button>
    </div>
    <script src="js/bootstrap.bundle.min.js"></script>
</body>
</html>