body {
    background-color: #013A5B;
    margin: 0;
    padding: 0;
}

header{
    background-color: #204B38;
}

.top {
    background-image: url(green.jpg);
}
header img {
    width: 100%;
    height: 300px;
    opacity: .7;
}

.navbar {
    background-color: #013A5B;
}

footer {
    text-align: center;
    background-color: #013A5B;
    color: rgb(242, 241, 253);
    padding: 10px;
}
main {
    background-color:  rgb(242, 241, 253);
    padding-bottom: 20px
}

[alt="logos"] {
    width: 50%;
}

input[type=submit],input[type=reset] {
	background-color:#013A5B;
	color: white;
	padding:10px 20px;
	border-radius: 3px;
	border: 0;
}

/* Container needed to position the button. Adjust the width as needed */
.image-button {
    position: relative;
    width: 100%;
  }
  
  /* Make the image responsive */
  .image-button img {
    width: 100%;
    height: auto;
  }
  
  /* Style the button and place it in the middle of the container/image */
  .image-button .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .image-button .btn:hover {
    background-color: black;
  }
