<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ramirez</title>
    <link rel="stylesheet" href="../Cursos/Curso.css"/>
    <link rel="stylesheet" href="../bootstrap.min.css"/>
</head>

<header>
  <nav>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="../index.html"><img src="../R.png" style="height: 1em;"></a>
        <ul class="navbar-nav me-auto mt-2 mt-lg-0">
          <li class="nav-item active">
            <a class="nav-link" href="../Cursos/Curso.html">Cursos <span class="visually-hidden">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../alumnos.html">Alumnos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../Apuntate/apuntate.html">Formulario</a>
          </li>
        </ul>
        
      </div>
    </div>
  </nav>
</header>
<body>
  <div>
    <h1>Nuestros Cursos</h1>
    <h3>"Aquí tienes todos los cursos disponibles que hemos creado para ti!<br>
      Ahora solo tienes que elegir cual de estos crees que es el más adecuado para ti.""
    </h3>
  </div>
    <div class="grid">
        <div class="card" style="width: 18rem;">
          <div class="clases" style="background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
          ">

          </div>
          <div class="card-body">
              <h5 class="card-title" style="font-weight: bold;">Física y Química</h5>
              <p class="card-text">Inicio curso</p>
              <p class="card-text">Fin curso </p>
              <p class="card-text">Hora inicio</p>
              <p class="card-text">Hora fin</p>
              <a href="../Apuntate/apuntate.html" class="btn btn-primary">Apuntarse</a>
            </div>
          </div>

          <div class="card" style="width: 18rem;">
            <div class="clases" style="background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
            ">
  
            </div>            <div class="card-body">
              <h5 class="card-title" style="font-weight: bold;">Física y Química</h5>
              <p class="card-text">Inicio curso</p>
              <p class="card-text">Fin curso </p>
              <p class="card-text">Hora inicio</p>
              <p class="card-text">Hora fin</p>
              <a href="../Apuntate/apuntate.html" class="btn btn-primary">Apuntarse</a>
            </div>
          </div>

          <div class="card" style="width: 18rem;">
            <div class="clases" style="background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
            ">
  
            </div>            <div class="card-body">
              <h5 class="card-title" style="font-weight: bold;">Física y Química</h5>
              <p class="card-text">Inicio curso</p>
              <p class="card-text">Fin curso </p>
              <p class="card-text">Hora inicio</p>
              <p class="card-text">Hora fin</p>
              <a href="../Apuntate/apuntate.html" class="btn btn-primary">Apuntarse</a>
            </div>
          </div>

          <div class="card" style="width: 18rem;">
            <div class="clases" style="background-image: linear-gradient(to right top, #e06bd5, #ff77a2, #ff9c7f, #fcc57c, #e1e79d);
            ">
  
            </div>            <div class="card-body">
              <h5 class="card-title" style="font-weight: bold;">Física y Química</h5>
              <p class="card-text">Inicio curso</p>
              <p class="card-text">Fin curso </p>
              <p class="card-text">Hora inicio</p>
              <p class="card-text">Hora fin</p>
              <a href="../Apuntate/apuntate.html" class="btn btn-primary">Apuntarse</a>
            </div>
          </div>

          <div class="card" style="width: 18rem;">
            <div class="clases" style="background-image: linear-gradient(to right top, #3770ae, #6e7bbd, #9b85c7, #c390cd, #e79dd0);
            ">
  
            </div>            <div class="card-body">
              <h5 class="card-title" style="font-weight: bold;">Física y Química</h5>
              <p class="card-text">Inicio curso</p>
              <p class="card-text">Fin curso </p>
              <p class="card-text">Hora inicio</p>
              <p class="card-text">Hora fin</p>
              <a href="../Apuntate/apuntate.html" class="btn btn-primary">Apuntarse</a>
            </div>
          </div>



    </div>

   
</body>
</html>