body{
    background: linear-gradient(90deg, #1CB5E0 0%, #000851 100%);
}
.principal{
    height: 95vh;
    background-color: darkgreen;
}

.cursos-card{
    background-color: green;
    display: inline-flex;
}

.cursos-card div:first-of-type{
    float: left;
}

.grid { 
    display: grid;
    padding: 3em;
    grid-gap: 2em;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(20em, auto));
}

div > div {
  padding: 10px;
  background-color: #ccc;
  
}